.app {
    background-image: url(/public/background-black.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    max-height: auto;
}